In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_json("/Users/nina/MyProjects/python-projects/myData/data/spotify/StreamingHistory0.json")
artists = data["artistName"].unique()
unique_artist_size = artists.size

data

,endTime,artistName,trackName,msPlayed
0,2021-05-15 16:48,Daft Punk,Prime Time of Your Life / Brainwasher / Rollin...,622480
1,2021-05-15 16:52,Current Joys,Kids,269142
2,2021-05-15 16:56,Kodak Black,Don't Wanna Breathe,196672
3,2021-05-15 17:00,070 Shake,Morrow,246626
4,2021-05-15 17:05,Desire,Under Your Spell,296015
...,...,...,...,...
9995,2021-08-18 23:09,The Cure,Lost,199784
9996,2021-08-18 23:14,The Cure,Trust,330000
9997,2021-08-18 23:19,The Cure,Trust,263082
9998,2021-08-18 23:22,Soko,We Might Be Dead by Tomorrow,161413
9999,2021-08-18 23:24,Trevor Daniel,Falling,159381

In [3]:
desc_data = data["artistName"].describe()

# Top artist is Pyotr Ilyich Tchaikovsky. So it means I listened the most of his songs then others. 
# It does not mean that he was the most frequent one or I listen to him the most. 
# I dont even remember listening to whole Tchaikovsky album but probably I fall asleep and ...

In [4]:
song_count_by_artist = data
song_count_by_artist["trackCountByArtist"] = data.groupby(["artistName"])["msPlayed"].transform('count')
song_count_by_artist = song_count_by_artist.drop_duplicates(subset=["artistName"])
song_count_by_artist = song_count_by_artist.sort_values(by="trackCountByArtist", ascending=False)
song_count_by_artist = song_count_by_artist.drop(["endTime", "trackName","msPlayed"], axis=1)


%store song_count_by_artist
# You can find how many times I listened songs based on Artist = new_data 
# Does not mean that songs are not repeated

# so if we take "The Cure" whos trackCountByArtist = 273, it means that I turned on 273 cure songs
# (maybe it was 5 songs but 273 means that music started 273 times)

Stored 'song_count_by_artist' (DataFrame)

In [5]:
top_50_songs = data
top_50_songs["trackCount"] = top_50_songs.groupby(["trackName"])["msPlayed"].transform('count')
top_50_songs = top_50_songs.drop_duplicates(subset=["trackName"])
top_50_songs = top_50_songs.drop(["endTime", "msPlayed", "trackCountByArtist"], axis=1)
top_50_songs = top_50_songs.sort_values(by="trackCount", ascending=False).iloc[:50]

%store top_50_songs
# You can find the sorted trackCount by trackName, meaning how many times I listened for one song = top_50_songs

Stored 'top_50_songs' (DataFrame)

In [8]:
data

,endTime,artistName,trackName,msPlayed
0,2021-05-15 16:48,Daft Punk,Prime Time of Your Life / Brainwasher / Rollin...,622480
1,2021-05-15 16:52,Current Joys,Kids,269142
2,2021-05-15 16:56,Kodak Black,Don't Wanna Breathe,196672
3,2021-05-15 17:00,070 Shake,Morrow,246626
4,2021-05-15 17:05,Desire,Under Your Spell,296015
...,...,...,...,...
9995,2021-08-18 23:09,The Cure,Lost,199784
9996,2021-08-18 23:14,The Cure,Trust,330000
9997,2021-08-18 23:19,The Cure,Trust,263082
9998,2021-08-18 23:22,Soko,We Might Be Dead by Tomorrow,161413
9999,2021-08-18 23:24,Trevor Daniel,Falling,159381

In [9]:
groupByArtistName = data.groupby("artistName", as_index=False)["msPlayed"].sum()
groupByArtistName
# most time I spent listening to Artist. Thats because "The Cure" songs are long

                     artistName  msPlayed
0                          $NOT    125706
1                     070 Shake  13164648
2                      100 gecs      1685
3                          10cc    250160
4                       220 KID    179940
...                         ...       ...
1041                       煮ル果実      3410
1042                     物語シリーズ     29438
1043                        稲葉曇     40969
1044                         美波    142181
1045  𝖙𝖍𝖊 𝖍𝖚𝖒𝖆𝖓 𝖎𝖓 𝖙𝖍𝖊 𝖕𝖎𝖈𝖙𝖚𝖗𝖊      24733

[1046 rows x 2 columns]

In [11]:
top_50_artists = groupByArtistName.sort_values(by="msPlayed",ascending=False).iloc[:50]
%store top_50_artists

# Top 10 artists by time. So The cure will be the 1 in the list because I was listening The cure most of the time. The cure is my fav group

Stored 'top_50_artists' (DataFrame)

In [18]:
# top_1_artist_by_times_listened = top_50_artists[:1]
# top_2_artist_by_times_listened = top_50_artists[1:2]

In [21]:
top_5_artists_by_time_listened = top_50_artists.iloc[:5]

                   artistName  msPlayed
850                  The Cure  45700114
669  Pyotr Ilyich Tchaikovsky  34808281
426                  KayaKata  31548609
857             The Kid LAROI  29214623
315                  Harmless  26733931